@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.font-playfair {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

.font-text{
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}

.bg-glassy {
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

body {
  background-color: #EEE7DE;
}

@layer utilities{
  .bg-secondary {
    @apply bg-[#C58F2B]
  }
  .bg-primary {
    @apply bg-[#EEE7DE]
  }
  .text-secondary {
    @apply text-[#C58F2B]
  }

}

